@import "../../../../variables.css";

.Boton_si{
    position: relative;
    height: auto;
    width: 110px;
    padding: 5px;
    margin-top: 10px;
    margin-left: calc(34% - 55px);
    
    background-color: var(--color-2);
    border: 2px solid var(--color-2);
    color: white;

    font-size: 14px;
    transition: border 2s, background-color 2s;
}

.Boton_no{
    position: relative;
    height: auto;
    width: 110px;
    padding: 5px;
    margin-top: 10px;
    margin-right: 0;

    border: 2px solid var(--color-2);
    background-color: var(--color-6);
    color: var(--color-2);

    font-size: 14px;
    transition: border 2s, color 2s;
    margin-left: 25px;
}

.Boton_si:hover{
    background-color: rgba(253, 164, 31, 0.822);
    border: 2px solid rgba(253, 164, 31, 0.822);
}

.Boton_no:hover{
    border: 2px solid rgb(244,132,69);
    color: rgb(244,132,69);
}