@import "../../variables.css";

.postu{
    margin-top: 0; 
    height: inherit;
}

.ESTADO {
    float: left;
    height: inherit;
    background-color: var(--color-1);
    color: var(--color-6);
    opacity: 0.84;
}

.DETALLE {
    height: inherit;
    overflow-x: hidden;
}