.ulContainer {
	padding: 0;
	margin: 0;
	height: inherit;
}

.Titulos {
	list-style-type: none;
	font-size: large;
	font-weight: bold;
	padding: 0;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	width: 100%;
	border-bottom: 1px ridge var(--color-6);
	color: white;
}

.asignatura {
	width: 80%;
	overflow: hidden;
}

.arrow {
	float: right;
	text-align: center;
	color: white;
}

.arrowClicado {
	float: right;
	text-align: center;
	color: black;
}

.estado {
	width: 15%;
	float:left;
	text-align: center;
}

.imgEstado{
	text-align: center;
	width: 16px;
}

.primaryNav{
	height: inherit;
}

.borde {
	width: 350px;
	text-align: left;
	border: 0px;
    border-style:ridge;
	height: inherit;
	overflow-y: hidden;
}

.divScroll {
	overflow-x: hidden;
	overflow-y: auto;
	text-align: left;
	height: calc( 100% - 27px );
}

.Datos {
	list-style-type: none;
	text-align: left;
	padding-top: 14px;
	font-size: large;
	padding-left: 20px;
	padding-bottom: 14px;
}
.DatoClicado{
	list-style-type: none;
	text-align: left;
	padding-top: 14px;
	font-size: large;
	padding-left: 20px;
	padding-bottom: 14px;
	color: var(--color-7);
	background-color: #886f88;
	
}

.Datos:hover{
	list-style-type: none;
	cursor: pointer;
	color: var(--color-7);
	background-color: #886f88;
}

.Datos:hover .arrow{
	list-style-type: none;
	cursor: pointer;
	color: var(--color-7);
	background-color: #886f88;
}

.estado.titulo {
	width: 20%;
	overflow: hidden;
}

.asignatura.titulo {
	width: 50%;
	
	text-align: center;
}